Value INTERFACE (\S+)
Value IPADDRESS (\S+)
Value STATUS (up|down|administratively down)
Value PROTOCOL (up|down)

Start
  ^${INTERFACE}\s+${IPADDRESS}\s+\w+\s+\w+\s+${STATUS}\s+${PROTOCOL} -> Record
